USE [master]
GO

IF DB_ID(N'BDHardwareFinal') IS NULL
BEGIN
    CREATE DATABASE [BDHardwareFinal];
END
GO

USE [BDHardwareFinal]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IDBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[Actividad] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[IDBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](20) NULL,
	[LastName] [nchar](20) NULL,
	[Phone] [bigint] NULL,
	[Mail] [nchar](30) NULL,
	[Address] [nchar](30) NULL,
	[Age] [int] NULL,
	[DNI] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IDProduct] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nchar](20) NULL,
	[Price] [money] NULL,
	[Description] [nchar](30) NULL,
	[Sold] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nchar](20) NOT NULL,
	[Contraseña] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IDClient] [int] NOT NULL,
	[IDSold] [int] IDENTITY(1,1) NOT NULL,
	[Price] [money] NULL,
	[Quantity] [int] NULL,
	[IDProduct] [int] NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IDSold] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Usuario] ([IDUser])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Cliente] ([IDCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Product] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Product] ([IDProduct])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Product]
GO
/****** Object:  StoredProcedure [dbo].[s_Bitacora_Listar]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_Bitacora_Listar]
    @FechaDesde date = NULL,
    @FechaHasta date = NULL,
    @HoraDesde time = NULL,
    @HoraHasta time = NULL,
    @Actividad varchar(50) = NULL,
    @NombreUsuario varchar(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        B.IDBitacora,
        U.NombreUsuario AS Usuario,
        B.Actividad,
        B.Fecha,
        B.Hora
    FROM dbo.Bitacora B
    INNER JOIN dbo.Usuario U
        ON B.IDUser = U.IDUser
    WHERE
        (@FechaDesde IS NULL OR B.Fecha >= @FechaDesde)
        AND (@FechaHasta IS NULL OR B.Fecha <= @FechaHasta)
        AND (@HoraDesde IS NULL OR B.Hora >= @HoraDesde)
        AND (@HoraHasta IS NULL OR B.Hora <= @HoraHasta)
        AND (@Actividad IS NULL OR B.Actividad = @Actividad)
        AND (@NombreUsuario IS NULL OR U.NombreUsuario LIKE '%' + @NombreUsuario + '%')
    ORDER BY
        B.Fecha DESC,
        B.Hora DESC,
        B.IDBitacora DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_Baja]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Cliente_Baja]

@codCliente int

AS
BEGIN

	SET NOCOUNT ON;

		Delete Cliente Where IDCliente = @codCliente
		
END

GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_ListarVentas]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[s_Cliente_ListarVentas]
@IdCliente int
AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Venta Where IDClient = @IdCliente
END

GO
/****** Object:  StoredProcedure [dbo].[s_Clientes_Crear]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Clientes_Crear]

@Nombre varchar(20),
@Apellido varchar (20),
@DNI int ,
@Edad int ,
@Correo varchar (30),
@Direccion varchar (30),
@Telefono bigint 


AS
BEGIN
	
	SET NOCOUNT ON;

	Insert 
	Into Cliente (Name,LastName,Mail,Phone,DNI,Age,Address) 
	Values (@Nombre,@Apellido,@Correo,@Telefono,@DNI,@Edad,@Direccion)

END

GO
/****** Object:  StoredProcedure [dbo].[s_Clientes_Listar]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Clientes_Listar]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Cliente
END

GO
/****** Object:  StoredProcedure [dbo].[s_Clientes_Modificar]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_Clientes_Modificar]
	
	@codCliente int,
	@Nombre varchar(20),
@Apellido varchar (20),
@DNI int ,
@Edad int ,
@Correo varchar (30),
@Direccion varchar (30),
@Telefono bigint 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update Cliente set [Name] = @Nombre, [LastName] = @Apellido, [DNI] =@DNI, [Mail] = @Correo, [Age] = @Edad , [Address] = @Direccion, [Phone] = @Telefono Where IDCliente = @codCliente
END

GO
/****** Object:  StoredProcedure [dbo].[s_ListarUnCliente]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[s_ListarUnCliente]
@Id int
AS
BEGIN

	SET NOCOUNT ON;

   SELECT IDCliente,Name,LastName,DNI,Age,Mail,Address,Phone FROM Cliente where IDCliente = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[s_ListarUnUser]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_ListarUnUser]
    @Username varchar(20),
    @Password varchar(100)
AS
BEGIN
    SELECT IDUser, NombreUsuario, Contraseña
    FROM Usuario
    WHERE NombreUsuario = @Username
      AND Contraseña = @Password;
END
GO
/****** Object:  StoredProcedure [dbo].[s_Producto_Baja]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Producto_Baja]

@codProducto int

AS
BEGIN

	SET NOCOUNT ON;

		Delete Product Where IDProduct = @codProducto
END

GO
/****** Object:  StoredProcedure [dbo].[s_Producto_Modificar]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_Producto_Modificar]
	
	@codProducto int,
	@Categoria varchar(20),
    @Precio Money,
	@Descripcion nchar(30),
	@Vendido bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update Product set [Category] = @Categoria, [Price] = @Precio, [Description] =@Descripcion,[Sold] =@Vendido where IDProduct = @codProducto
END

GO
/****** Object:  StoredProcedure [dbo].[s_Productos_Crear]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[s_Productos_Crear]

@Categoria varchar(20),
@Descripcion varchar (30),
@Precio Money ,
@Vendido bit


AS
BEGIN
	
	SET NOCOUNT ON;

	Insert 
	Into Product(Category,Description,Price,Sold) 
	Values (@Categoria,@Descripcion,@Precio,@Vendido)

END

GO
/****** Object:  StoredProcedure [dbo].[s_Productos_Listar]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[s_Productos_Listar]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Product
END

GO
/****** Object:  StoredProcedure [dbo].[s_Usuario_Crear]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Usuario_Crear]
    @NombreUsuario varchar(20),
    @Contraseña varchar(100)
AS
BEGIN
    INSERT INTO Usuario (NombreUsuario, Contraseña)
    VALUES (@NombreUsuario, @Contraseña);
END
GO
/****** Object:  StoredProcedure [dbo].[s_Usuarios_Listar]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Usuarios_Listar]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Usuario
END

GO
/****** Object:  StoredProcedure [dbo].[s_Venta_Baja]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Venta_Baja]

@codVenta int

AS
BEGIN

	SET NOCOUNT ON;

		Delete Venta Where IDSold = @codVenta
END

GO
/****** Object:  StoredProcedure [dbo].[s_Venta_Crear]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Venta_Crear]

@CodCliente int,
@CodProducto int,
	@Precio int,
	@Cantidad int



AS
BEGIN
	
	SET NOCOUNT ON;

	Insert 
	Into Venta (IDClient,IDProduct,Price,Quantity) 
	Values (@CodCliente,@CodProducto,@Precio,@Cantidad)

END

GO
/****** Object:  StoredProcedure [dbo].[s_Venta_Modificar]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_Venta_Modificar]
	
	@codProducto int,
	@codCliente int,
	@codVenta int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update Venta set [IDClient] = @codCliente, [IDProduct] = @codProducto  where [IDSold] = @codVenta
END

GO
/****** Object:  StoredProcedure [dbo].[s_Ventas_Listar]    Script Date: 28/6/2026 21:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Ventas_Listar]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Venta
END

GO
USE [master]
GO
USE [BDHardwareFinal]
GO

-- Usuarios mínimos para probar el sistema

IF NOT EXISTS (
    SELECT 1 
    FROM dbo.Usuario 
    WHERE NombreUsuario = 'admin'
)
BEGIN
    INSERT INTO dbo.Usuario (NombreUsuario, Contraseña)
    VALUES ('admin', 'fFh75oIdHrc=');
END
GO

IF NOT EXISTS (
    SELECT 1 
    FROM dbo.Usuario 
    WHERE NombreUsuario = 'anonimo'
)
BEGIN
    INSERT INTO dbo.Usuario (NombreUsuario, Contraseña)
    VALUES ('anonimo', '6RqPkh7qMkw=');
END
GO

-- Registro inicial de bitácora para probar el formulario

DECLARE @IDAdmin INT;

SELECT @IDAdmin = IDUser
FROM dbo.Usuario
WHERE NombreUsuario = 'admin';

IF @IDAdmin IS NOT NULL
AND NOT EXISTS (
    SELECT 1
    FROM dbo.Bitacora
    WHERE IDUser = @IDAdmin
      AND Actividad = 'Login exitoso'
)
BEGIN
    INSERT INTO dbo.Bitacora (IDUser, Actividad, Fecha, Hora)
    VALUES (
        @IDAdmin,
        'Login exitoso',
        CAST(GETDATE() AS date),
        CAST(GETDATE() AS time)
    );
END
GO
