USE [master]
GO

IF DB_ID(N'BDHardwareFinal') IS NULL
BEGIN
    CREATE DATABASE [BDHardwareFinal];
END
GO

USE [BDHardwareFinal]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 3/7/2026 15:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IDBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[Actividad] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[IDBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](20) NULL,
	[LastName] [nchar](20) NULL,
	[Phone] [bigint] NULL,
	[Mail] [nchar](30) NULL,
	[Address] [nchar](30) NULL,
	[Age] [int] NULL,
	[DNI] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlCambioSiniestro]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlCambioSiniestro](
	[IDControlCambio] [int] IDENTITY(1,1) NOT NULL,
	[IDSiniestro] [int] NOT NULL,
	[IDHistorialSiniestro] [int] NULL,
	[IDUser] [int] NOT NULL,
	[Campo] [varchar](50) NOT NULL,
	[ValorAnterior] [varchar](max) NULL,
	[ValorNuevo] [varchar](max) NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
 CONSTRAINT [PK_ControlCambioSiniestro] PRIMARY KEY CLUSTERED 
(
	[IDControlCambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialSiniestro]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialSiniestro](
	[IDHistorialSiniestro] [int] IDENTITY(1,1) NOT NULL,
	[IDSiniestro] [int] NOT NULL,
	[IDUser] [int] NOT NULL,
	[NumeroSiniestro] [varchar](30) NOT NULL,
	[Caratula] [varchar](150) NOT NULL,
	[AnalistaInterno] [varchar](100) NULL,
	[FechaSiniestro] [date] NULL,
	[LugarSiniestro] [varchar](200) NULL,
	[Estado] [varchar](30) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Accion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HistorialSiniestro] PRIMARY KEY CLUSTERED 
(
	[IDHistorialSiniestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IDProduct] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nchar](20) NULL,
	[Price] [money] NULL,
	[Description] [nchar](30) NULL,
	[Sold] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siniestro]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siniestro](
	[IDSiniestro] [int] IDENTITY(1,1) NOT NULL,
	[NumeroSiniestro] [varchar](30) NOT NULL,
	[Caratula] [varchar](150) NOT NULL,
	[AnalistaInterno] [varchar](100) NULL,
	[FechaSiniestro] [date] NULL,
	[LugarSiniestro] [varchar](200) NULL,
	[Estado] [varchar](30) NOT NULL,
	[Observaciones] [varchar](500) NULL,
 CONSTRAINT [PK_Siniestro] PRIMARY KEY CLUSTERED 
(
	[IDSiniestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Siniestro_NumeroSiniestro] UNIQUE NONCLUSTERED 
(
	[NumeroSiniestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nchar](20) NOT NULL,
	[Contraseña] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IDClient] [int] NOT NULL,
	[IDSold] [int] IDENTITY(1,1) NOT NULL,
	[Price] [money] NULL,
	[Quantity] [int] NULL,
	[IDProduct] [int] NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IDSold] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Usuario] ([IDUser])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[ControlCambioSiniestro]  WITH CHECK ADD  CONSTRAINT [FK_ControlCambioSiniestro_Historial] FOREIGN KEY([IDHistorialSiniestro])
REFERENCES [dbo].[HistorialSiniestro] ([IDHistorialSiniestro])
GO
ALTER TABLE [dbo].[ControlCambioSiniestro] CHECK CONSTRAINT [FK_ControlCambioSiniestro_Historial]
GO
ALTER TABLE [dbo].[ControlCambioSiniestro]  WITH CHECK ADD  CONSTRAINT [FK_ControlCambioSiniestro_Siniestro] FOREIGN KEY([IDSiniestro])
REFERENCES [dbo].[Siniestro] ([IDSiniestro])
GO
ALTER TABLE [dbo].[ControlCambioSiniestro] CHECK CONSTRAINT [FK_ControlCambioSiniestro_Siniestro]
GO
ALTER TABLE [dbo].[ControlCambioSiniestro]  WITH CHECK ADD  CONSTRAINT [FK_ControlCambioSiniestro_Usuario] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Usuario] ([IDUser])
GO
ALTER TABLE [dbo].[ControlCambioSiniestro] CHECK CONSTRAINT [FK_ControlCambioSiniestro_Usuario]
GO
ALTER TABLE [dbo].[HistorialSiniestro]  WITH CHECK ADD  CONSTRAINT [FK_HistorialSiniestro_Siniestro] FOREIGN KEY([IDSiniestro])
REFERENCES [dbo].[Siniestro] ([IDSiniestro])
GO
ALTER TABLE [dbo].[HistorialSiniestro] CHECK CONSTRAINT [FK_HistorialSiniestro_Siniestro]
GO
ALTER TABLE [dbo].[HistorialSiniestro]  WITH CHECK ADD  CONSTRAINT [FK_HistorialSiniestro_Usuario] FOREIGN KEY([IDUser])
REFERENCES [dbo].[Usuario] ([IDUser])
GO
ALTER TABLE [dbo].[HistorialSiniestro] CHECK CONSTRAINT [FK_HistorialSiniestro_Usuario]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Cliente] ([IDCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Product] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Product] ([IDProduct])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Product]
GO
/****** Object:  StoredProcedure [dbo].[s_Bitacora_Crear]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_Bitacora_Crear]
    @IDUser INT,
    @Actividad VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Bitacora
    (
        IDUser,
        Actividad,
        Fecha,
        Hora
    )
    VALUES
    (
        @IDUser,
        @Actividad,
        CAST(GETDATE() AS DATE),
        CAST(GETDATE() AS TIME)
    );
END
GO
/****** Object:  StoredProcedure [dbo].[s_Bitacora_Listar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_Bitacora_Listar]
    @FechaDesde date = NULL,
    @FechaHasta date = NULL,
    @HoraDesde time = NULL,
    @HoraHasta time = NULL,
    @Actividad varchar(50) = NULL,
    @NombreUsuario varchar(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        B.IDBitacora,
        U.NombreUsuario AS Usuario,
        B.Actividad,
        B.Fecha,
        B.Hora
    FROM dbo.Bitacora B
    INNER JOIN dbo.Usuario U
        ON B.IDUser = U.IDUser
    WHERE
        (@FechaDesde IS NULL OR B.Fecha >= @FechaDesde)
        AND (@FechaHasta IS NULL OR B.Fecha <= @FechaHasta)
        AND (@HoraDesde IS NULL OR B.Hora >= @HoraDesde)
        AND (@HoraHasta IS NULL OR B.Hora <= @HoraHasta)
        AND (@Actividad IS NULL OR B.Actividad = @Actividad)
        AND (@NombreUsuario IS NULL OR U.NombreUsuario LIKE '%' + @NombreUsuario + '%')
    ORDER BY
        B.Fecha DESC,
        B.Hora DESC,
        B.IDBitacora DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_Baja]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Cliente_Baja]

@codCliente int

AS
BEGIN

	SET NOCOUNT ON;

		Delete Cliente Where IDCliente = @codCliente
		
END

GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_ListarVentas]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[s_Cliente_ListarVentas]
@IdCliente int
AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Venta Where IDClient = @IdCliente
END

GO
/****** Object:  StoredProcedure [dbo].[s_Clientes_Crear]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Clientes_Crear]

@Nombre varchar(20),
@Apellido varchar (20),
@DNI int ,
@Edad int ,
@Correo varchar (30),
@Direccion varchar (30),
@Telefono bigint 


AS
BEGIN
	
	SET NOCOUNT ON;

	Insert 
	Into Cliente (Name,LastName,Mail,Phone,DNI,Age,Address) 
	Values (@Nombre,@Apellido,@Correo,@Telefono,@DNI,@Edad,@Direccion)

END

GO
/****** Object:  StoredProcedure [dbo].[s_Clientes_Listar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Clientes_Listar]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Cliente
END

GO
/****** Object:  StoredProcedure [dbo].[s_Clientes_Modificar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_Clientes_Modificar]
	
	@codCliente int,
	@Nombre varchar(20),
@Apellido varchar (20),
@DNI int ,
@Edad int ,
@Correo varchar (30),
@Direccion varchar (30),
@Telefono bigint 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update Cliente set [Name] = @Nombre, [LastName] = @Apellido, [DNI] =@DNI, [Mail] = @Correo, [Age] = @Edad , [Address] = @Direccion, [Phone] = @Telefono Where IDCliente = @codCliente
END

GO
/****** Object:  StoredProcedure [dbo].[s_ControlCambioSiniestro_ListarPorSiniestro]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_ControlCambioSiniestro_ListarPorSiniestro]
    @IDSiniestro INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        C.IDControlCambio,
        C.IDSiniestro,
        C.IDHistorialSiniestro,
        U.NombreUsuario AS Usuario,
        C.Campo,
        C.ValorAnterior,
        C.ValorNuevo,
        C.Fecha,
        C.Hora
    FROM dbo.ControlCambioSiniestro C
    INNER JOIN dbo.Usuario U
        ON C.IDUser = U.IDUser
    WHERE C.IDSiniestro = @IDSiniestro
    ORDER BY C.Fecha DESC, C.Hora DESC, C.IDControlCambio DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[s_HistorialSiniestro_ListarPorSiniestro]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_HistorialSiniestro_ListarPorSiniestro]
    @IDSiniestro INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        H.IDHistorialSiniestro,
        H.IDSiniestro,
        U.NombreUsuario AS Usuario,
        H.NumeroSiniestro,
        H.Caratula,
        H.AnalistaInterno,
        H.FechaSiniestro,
        H.LugarSiniestro,
        H.Estado,
        H.Observaciones,
        H.Fecha,
        H.Hora,
        H.Accion
    FROM dbo.HistorialSiniestro H
    INNER JOIN dbo.Usuario U
        ON H.IDUser = U.IDUser
    WHERE H.IDSiniestro = @IDSiniestro
    ORDER BY H.Fecha DESC, H.Hora DESC, H.IDHistorialSiniestro DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[s_ListarUnCliente]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[s_ListarUnCliente]
@Id int
AS
BEGIN

	SET NOCOUNT ON;

   SELECT IDCliente,Name,LastName,DNI,Age,Mail,Address,Phone FROM Cliente where IDCliente = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[s_ListarUnUser]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_ListarUnUser]
    @Username varchar(20),
    @Password varchar(100)
AS
BEGIN
    SELECT IDUser, NombreUsuario, Contraseña
    FROM Usuario
    WHERE NombreUsuario = @Username
      AND Contraseña = @Password;
END
GO
/****** Object:  StoredProcedure [dbo].[s_Producto_Baja]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Producto_Baja]

@codProducto int

AS
BEGIN

	SET NOCOUNT ON;

		Delete Product Where IDProduct = @codProducto
END

GO
/****** Object:  StoredProcedure [dbo].[s_Producto_Modificar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_Producto_Modificar]
	
	@codProducto int,
	@Categoria varchar(20),
    @Precio Money,
	@Descripcion nchar(30),
	@Vendido bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update Product set [Category] = @Categoria, [Price] = @Precio, [Description] =@Descripcion,[Sold] =@Vendido where IDProduct = @codProducto
END

GO
/****** Object:  StoredProcedure [dbo].[s_Productos_Crear]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[s_Productos_Crear]

@Categoria varchar(20),
@Descripcion varchar (30),
@Precio Money ,
@Vendido bit


AS
BEGIN
	
	SET NOCOUNT ON;

	Insert 
	Into Product(Category,Description,Price,Sold) 
	Values (@Categoria,@Descripcion,@Precio,@Vendido)

END

GO
/****** Object:  StoredProcedure [dbo].[s_Productos_Listar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[s_Productos_Listar]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Product
END

GO
/****** Object:  StoredProcedure [dbo].[s_Siniestro_Crear]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[s_Siniestro_Crear]
    @NumeroSiniestro VARCHAR(30),
    @Caratula VARCHAR(150),
    @AnalistaInterno VARCHAR(100),
    @FechaSiniestro DATE,
    @LugarSiniestro VARCHAR(200),
    @Estado VARCHAR(30),
    @Observaciones VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Siniestro
    (
        NumeroSiniestro,
        Caratula,
        AnalistaInterno,
        FechaSiniestro,
        LugarSiniestro,
        Estado,
        Observaciones
    )
    VALUES
    (
        @NumeroSiniestro,
        @Caratula,
        @AnalistaInterno,
        @FechaSiniestro,
        @LugarSiniestro,
        @Estado,
        @Observaciones
    );
END
GO
/****** Object:  StoredProcedure [dbo].[s_Siniestro_Listar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_Siniestro_Listar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IDSiniestro,
        NumeroSiniestro,
        Caratula,
        AnalistaInterno,
        FechaSiniestro,
        LugarSiniestro,
        Estado,
        Observaciones
    FROM dbo.Siniestro
    ORDER BY IDSiniestro DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[s_Siniestro_Modificar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_Siniestro_Modificar]
    @IDSiniestro INT,
    @NumeroSiniestro VARCHAR(30),
    @Caratula VARCHAR(150),
    @AnalistaInterno VARCHAR(100),
    @FechaSiniestro DATE,
    @LugarSiniestro VARCHAR(200),
    @Estado VARCHAR(30),
    @Observaciones VARCHAR(500),
    @IDUser INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IDHistorialSiniestro INT;

    DECLARE @NumeroAnterior VARCHAR(30);
    DECLARE @CaratulaAnterior VARCHAR(150);
    DECLARE @AnalistaAnterior VARCHAR(100);
    DECLARE @FechaAnterior DATE;
    DECLARE @LugarAnterior VARCHAR(200);
    DECLARE @EstadoAnterior VARCHAR(30);
    DECLARE @ObservacionesAnterior VARCHAR(500);

    SELECT
        @NumeroAnterior = NumeroSiniestro,
        @CaratulaAnterior = Caratula,
        @AnalistaAnterior = AnalistaInterno,
        @FechaAnterior = FechaSiniestro,
        @LugarAnterior = LugarSiniestro,
        @EstadoAnterior = Estado,
        @ObservacionesAnterior = Observaciones
    FROM dbo.Siniestro
    WHERE IDSiniestro = @IDSiniestro;

    -- Guardamos una foto completa del estado anterior.
    -- Esto representa el Memento del siniestro antes de modificarlo.
    INSERT INTO dbo.HistorialSiniestro
    (
        IDSiniestro,
        IDUser,
        NumeroSiniestro,
        Caratula,
        AnalistaInterno,
        FechaSiniestro,
        LugarSiniestro,
        Estado,
        Observaciones,
        Fecha,
        Hora,
        Accion
    )
    VALUES
    (
        @IDSiniestro,
        @IDUser,
        @NumeroAnterior,
        @CaratulaAnterior,
        @AnalistaAnterior,
        @FechaAnterior,
        @LugarAnterior,
        @EstadoAnterior,
        @ObservacionesAnterior,
        CAST(GETDATE() AS DATE),
        CAST(GETDATE() AS TIME),
        'Modificacion'
    );

    SET @IDHistorialSiniestro = SCOPE_IDENTITY();

    -- Registramos campo por campo qué cambió.

    IF ISNULL(@NumeroAnterior, '') <> ISNULL(@NumeroSiniestro, '')
        INSERT INTO dbo.ControlCambioSiniestro
        (
            IDSiniestro, IDHistorialSiniestro, IDUser,
            Campo, ValorAnterior, ValorNuevo, Fecha, Hora
        )
        VALUES
        (
            @IDSiniestro, @IDHistorialSiniestro, @IDUser,
            'NumeroSiniestro', @NumeroAnterior, @NumeroSiniestro,
            CAST(GETDATE() AS DATE), CAST(GETDATE() AS TIME)
        );

    IF ISNULL(@CaratulaAnterior, '') <> ISNULL(@Caratula, '')
        INSERT INTO dbo.ControlCambioSiniestro
        (
            IDSiniestro, IDHistorialSiniestro, IDUser,
            Campo, ValorAnterior, ValorNuevo, Fecha, Hora
        )
        VALUES
        (
            @IDSiniestro, @IDHistorialSiniestro, @IDUser,
            'Caratula', @CaratulaAnterior, @Caratula,
            CAST(GETDATE() AS DATE), CAST(GETDATE() AS TIME)
        );

    IF ISNULL(@AnalistaAnterior, '') <> ISNULL(@AnalistaInterno, '')
        INSERT INTO dbo.ControlCambioSiniestro
        (
            IDSiniestro, IDHistorialSiniestro, IDUser,
            Campo, ValorAnterior, ValorNuevo, Fecha, Hora
        )
        VALUES
        (
            @IDSiniestro, @IDHistorialSiniestro, @IDUser,
            'AnalistaInterno', @AnalistaAnterior, @AnalistaInterno,
            CAST(GETDATE() AS DATE), CAST(GETDATE() AS TIME)
        );

    IF ISNULL(CONVERT(VARCHAR(10), @FechaAnterior, 120), '') <> ISNULL(CONVERT(VARCHAR(10), @FechaSiniestro, 120), '')
        INSERT INTO dbo.ControlCambioSiniestro
        (
            IDSiniestro, IDHistorialSiniestro, IDUser,
            Campo, ValorAnterior, ValorNuevo, Fecha, Hora
        )
        VALUES
        (
            @IDSiniestro, @IDHistorialSiniestro, @IDUser,
            'FechaSiniestro',
            CONVERT(VARCHAR(10), @FechaAnterior, 120),
            CONVERT(VARCHAR(10), @FechaSiniestro, 120),
            CAST(GETDATE() AS DATE), CAST(GETDATE() AS TIME)
        );

    IF ISNULL(@LugarAnterior, '') <> ISNULL(@LugarSiniestro, '')
        INSERT INTO dbo.ControlCambioSiniestro
        (
            IDSiniestro, IDHistorialSiniestro, IDUser,
            Campo, ValorAnterior, ValorNuevo, Fecha, Hora
        )
        VALUES
        (
            @IDSiniestro, @IDHistorialSiniestro, @IDUser,
            'LugarSiniestro', @LugarAnterior, @LugarSiniestro,
            CAST(GETDATE() AS DATE), CAST(GETDATE() AS TIME)
        );

    IF ISNULL(@EstadoAnterior, '') <> ISNULL(@Estado, '')
        INSERT INTO dbo.ControlCambioSiniestro
        (
            IDSiniestro, IDHistorialSiniestro, IDUser,
            Campo, ValorAnterior, ValorNuevo, Fecha, Hora
        )
        VALUES
        (
            @IDSiniestro, @IDHistorialSiniestro, @IDUser,
            'Estado', @EstadoAnterior, @Estado,
            CAST(GETDATE() AS DATE), CAST(GETDATE() AS TIME)
        );

    IF ISNULL(@ObservacionesAnterior, '') <> ISNULL(@Observaciones, '')
        INSERT INTO dbo.ControlCambioSiniestro
        (
            IDSiniestro, IDHistorialSiniestro, IDUser,
            Campo, ValorAnterior, ValorNuevo, Fecha, Hora
        )
        VALUES
        (
            @IDSiniestro, @IDHistorialSiniestro, @IDUser,
            'Observaciones', @ObservacionesAnterior, @Observaciones,
            CAST(GETDATE() AS DATE), CAST(GETDATE() AS TIME)
        );

    -- Finalmente actualizamos el siniestro.
    UPDATE dbo.Siniestro
    SET
        NumeroSiniestro = @NumeroSiniestro,
        Caratula = @Caratula,
        AnalistaInterno = @AnalistaInterno,
        FechaSiniestro = @FechaSiniestro,
        LugarSiniestro = @LugarSiniestro,
        Estado = @Estado,
        Observaciones = @Observaciones
    WHERE IDSiniestro = @IDSiniestro;
END
GO
/****** Object:  StoredProcedure [dbo].[s_Siniestro_ObtenerPorId]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_Siniestro_ObtenerPorId]
    @IDSiniestro INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IDSiniestro,
        NumeroSiniestro,
        Caratula,
        AnalistaInterno,
        FechaSiniestro,
        LugarSiniestro,
        Estado,
        Observaciones
    FROM dbo.Siniestro
    WHERE IDSiniestro = @IDSiniestro;
END
GO
/****** Object:  StoredProcedure [dbo].[s_Siniestro_RestaurarDesdeHistorial]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_Siniestro_RestaurarDesdeHistorial]
    @IDHistorialSiniestro INT,
    @IDUser INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IDSiniestro INT;

    SELECT @IDSiniestro = IDSiniestro
    FROM dbo.HistorialSiniestro
    WHERE IDHistorialSiniestro = @IDHistorialSiniestro;

    IF @IDSiniestro IS NULL
        RETURN;

    UPDATE S
    SET
        S.NumeroSiniestro = H.NumeroSiniestro,
        S.Caratula = H.Caratula,
        S.AnalistaInterno = H.AnalistaInterno,
        S.FechaSiniestro = H.FechaSiniestro,
        S.LugarSiniestro = H.LugarSiniestro,
        S.Estado = H.Estado,
        S.Observaciones = H.Observaciones
    FROM dbo.Siniestro S
    INNER JOIN dbo.HistorialSiniestro H
        ON S.IDSiniestro = H.IDSiniestro
    WHERE H.IDHistorialSiniestro = @IDHistorialSiniestro;

    INSERT INTO dbo.Bitacora
    (
        IDUser,
        Actividad,
        Fecha,
        Hora
    )
    VALUES
    (
        @IDUser,
        'Restauracion de siniestro',
        CAST(GETDATE() AS DATE),
        CAST(GETDATE() AS TIME)
    );
END
GO
/****** Object:  StoredProcedure [dbo].[s_Usuario_Crear]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Usuario_Crear]
    @NombreUsuario varchar(20),
    @Contraseña varchar(100)
AS
BEGIN
    INSERT INTO Usuario (NombreUsuario, Contraseña)
    VALUES (@NombreUsuario, @Contraseña);
END
GO
/****** Object:  StoredProcedure [dbo].[s_Usuario_ObtenerPorNombre]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[s_Usuario_ObtenerPorNombre]
    @NombreUsuario VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IDUser,
        NombreUsuario,
        Contraseña
    FROM dbo.Usuario
    WHERE NombreUsuario = @NombreUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[s_Usuarios_Listar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Usuarios_Listar]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Usuario
END

GO
/****** Object:  StoredProcedure [dbo].[s_Venta_Baja]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Venta_Baja]

@codVenta int

AS
BEGIN

	SET NOCOUNT ON;

		Delete Venta Where IDSold = @codVenta
END

GO
/****** Object:  StoredProcedure [dbo].[s_Venta_Crear]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Venta_Crear]

@CodCliente int,
@CodProducto int,
	@Precio int,
	@Cantidad int



AS
BEGIN
	
	SET NOCOUNT ON;

	Insert 
	Into Venta (IDClient,IDProduct,Price,Quantity) 
	Values (@CodCliente,@CodProducto,@Precio,@Cantidad)

END

GO
/****** Object:  StoredProcedure [dbo].[s_Venta_Modificar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[s_Venta_Modificar]
	
	@codProducto int,
	@codCliente int,
	@codVenta int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Update Venta set [IDClient] = @codCliente, [IDProduct] = @codProducto  where [IDSold] = @codVenta
END

GO
/****** Object:  StoredProcedure [dbo].[s_Ventas_Listar]    Script Date: 3/7/2026 15:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Ventas_Listar]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT * FROM Venta
END

GO
USE [master]
GO

USE [BDHardwareFinal]
GO

-- Usuarios mínimos para probar el sistema

IF NOT EXISTS (
    SELECT 1 
    FROM dbo.Usuario 
    WHERE NombreUsuario = 'admin'
)
BEGIN
    INSERT INTO dbo.Usuario (NombreUsuario, Contraseña)
    VALUES ('admin', 'fFh75oIdHrc=');
END
GO

IF NOT EXISTS (
    SELECT 1 
    FROM dbo.Usuario 
    WHERE NombreUsuario = 'anonimo'
)
BEGIN
    INSERT INTO dbo.Usuario (NombreUsuario, Contraseña)
    VALUES ('anonimo', '6RqPkh7qMkw=');
END
GO

-- Registro inicial de bitácora para probar el formulario

DECLARE @IDAdmin INT;

SELECT @IDAdmin = IDUser
FROM dbo.Usuario
WHERE NombreUsuario = 'admin';

IF @IDAdmin IS NOT NULL
AND NOT EXISTS (
    SELECT 1
    FROM dbo.Bitacora
    WHERE IDUser = @IDAdmin
      AND Actividad = 'Login exitoso'
)
BEGIN
    INSERT INTO dbo.Bitacora (IDUser, Actividad, Fecha, Hora)
    VALUES (
        @IDAdmin,
        'Login exitoso',
        CAST(GETDATE() AS DATE),
        CAST(GETDATE() AS TIME)
    );
END
GO

-- Siniestro inicial para probar la gestión de casos

IF NOT EXISTS (
    SELECT 1
    FROM dbo.Siniestro
    WHERE NumeroSiniestro = 'SIN-001'
)
BEGIN
    INSERT INTO dbo.Siniestro
    (
        NumeroSiniestro,
        Caratula,
        AnalistaInterno,
        FechaSiniestro,
        LugarSiniestro,
        Estado,
        Observaciones
    )
    VALUES
    (
        'SIN-001',
        'Gomez c/ San Cristobal s/ daños',
        'Analista prueba',
        '2026-07-03',
        'Av. Corrientes 1234',
        'En curso',
        'Caso cargado para prueba'
    );
END
GO